In [1]:
import numpy as np
import pandas as pd
import os

import datetime
from datetime import datetime

# 1 Data Gathering - SolarView

https://github.com/social-energy-atlas/solarview-data

## 1.3 County Name-Fips Map

In [3]:
fips = pd.read_csv('data/sea-county-name.csv', encoding='utf-8')
fips.head(5)

    fips    county
0  13001   Appling
1  13003  Atkinson
2  13005     Bacon
3  13007     Baker
4  13009   Baldwin

## 1.4 Zillow Valuation Information

# 2 Data Assessment

## 2.3 County Name-FIPS Map

In [4]:
fips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 2 columns):
fips      159 non-null int64
county    159 non-null object
dtypes: int64(1), object(1)
memory usage: 2.6+ KB

- fips should be a string and not an integer

In [5]:
fips.head(5)

    fips    county
0  13001   Appling
1  13003  Atkinson
2  13005     Bacon
3  13007     Baker
4  13009   Baldwin

In [6]:
fips.isnull().sum()

fips      0
county    0
dtype: int64

In [7]:
fips.duplicated().sum()

0

# 3 Data Cleaning

## 3.1.3 Copy Dataframe

### 3.1.3.1 Define
Copy all dataframes for cleaning purposes.

#### 3.1.3.2 Code

In [8]:
fips_clean = fips.copy()

#### 3.1.3.3 Test

In [ ]:
fips_clean.info()

## 3.2 Cleaning
### 3.2.3 Fips Column Formatting
#### 3.2.3.1 Define
Reformat the fips column to be a string.
#### 3.2.3.2 Code

In [9]:
fips_clean['fips'] = fips_clean['fips'].astype(str)

#### 3.2.3.3 Test

In [10]:
fips_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 2 columns):
fips      159 non-null object
county    159 non-null object
dtypes: object(2)
memory usage: 2.6+ KB

## Store Data

In [11]:
fips_clean.to_csv('clean_data/fips_clean.csv', encoding='utf-8', index=False)