In [1]:
import numpy as np
import pandas as pd
import os

import datetime
from datetime import datetime

# 1 Data Gathering - SolarView

https://github.com/social-energy-atlas/solarview-data

## 1.1 Installations

## 1.7 Utility List and Ownership Type

In [2]:
util = pd.read_csv('data/sea-utility-id.csv', encoding='utf-8')
util.head(5)

   utility-id                            name    ownership
0  sea-util-1   Albany Water Gas & Light Comm    Municipal
1  sea-util-2   Altamaha Electric Member Corp  Cooperative
2  sea-util-3  Amicalola Electric Member Corp  Cooperative
3  sea-util-4  Blue Ridge Mountain EMC - (GA)  Cooperative
4  sea-util-5  Canoochee Electric Member Corp  Cooperative

# 2 Data Assessment
## 2.1 Installations

## 2.7 Utility List and Ownership Type

In [3]:
util.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
utility-id    74 non-null object
name          74 non-null object
ownership     74 non-null object
dtypes: object(3)
memory usage: 1.8+ KB

In [4]:
util.head(5)

   utility-id                            name    ownership
0  sea-util-1   Albany Water Gas & Light Comm    Municipal
1  sea-util-2   Altamaha Electric Member Corp  Cooperative
2  sea-util-3  Amicalola Electric Member Corp  Cooperative
3  sea-util-4  Blue Ridge Mountain EMC - (GA)  Cooperative
4  sea-util-5  Canoochee Electric Member Corp  Cooperative

In [5]:
util.isnull().sum()

utility-id    0
name          0
ownership     0
dtype: int64

In [6]:
util.duplicated().sum()

0

- Need to modify utility-id column heading

# 3 Data Cleaning

## 3.1 Copy All Dataframes

### 3.1.1 Define
Copy all dataframes for cleaning purposes.

#### 3.1.1.2 Code

In [7]:
util_clean = util.copy()

#### 3.1.1.3 Test

In [8]:
util_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
utility-id    74 non-null object
name          74 non-null object
ownership     74 non-null object
dtypes: object(3)
memory usage: 1.8+ KB

## 3.2 Column Naming
### 3.2.1 Installations
#### 3.2.1.1 Define
Rename all columns so that hyphens are replaced with underscores so that future codes can be run successfully, as well as correcting any spelling errors.

#### 3.2.1.2 Code

In [9]:
util_clean = util_clean.rename(columns={"utility-id": "utility_id"})

#### 3.2.1.3 Test

In [10]:
util_clean.head()

   utility_id                            name    ownership
0  sea-util-1   Albany Water Gas & Light Comm    Municipal
1  sea-util-2   Altamaha Electric Member Corp  Cooperative
2  sea-util-3  Amicalola Electric Member Corp  Cooperative
3  sea-util-4  Blue Ridge Mountain EMC - (GA)  Cooperative
4  sea-util-5  Canoochee Electric Member Corp  Cooperative

## Store Data

In [11]:
util_clean.to_csv('clean_data/util_clean.csv', encoding='utf-8', index=False)