# Utility Query

In [1]:
import requests
import numpy as np
import pandas as pd
import os
import io

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import cm as cm

import seaborn as sns 
import datetime
from datetime import datetime

In [2]:
util_rates = pd.read_csv('clean_data/util_rates_clean.csv', encoding='utf-8')
util_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
sea_rate_id     2000 non-null object
year            2000 non-null object
zip             2000 non-null int64
utility_id      2000 non-null object
service_type    2000 non-null object
comm_rate       2000 non-null float64
ind_rate        2000 non-null float64
res_rate        2000 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 125.1+ KB

In [3]:
utils = pd.read_csv('clean_data/util_clean.csv', encoding='utf-8')
utils.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
utility_id    74 non-null object
name          74 non-null object
ownership     74 non-null object
dtypes: object(3)
memory usage: 1.8+ KB

In [4]:
utils_combined = pd.merge(util_rates, utils, on = 'utility_id', how = 'left')

In [5]:
utils_combined.sample(5)

,sea_rate_id,year,zip,utility_id,service_type,comm_rate,ind_rate,res_rate,name,ownership
1064,sea-util-44-rate-31629,2005-06-01 13:33:00,31629,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
1480,sea-util-52-rate-30802,2005-06-01 13:33:00,30802,sea-util-52,Bundled,0.123904,0.092472,0.124166,Jefferson Electric Member Corp,Cooperative
478,sea-util-44-rate-31513,2005-06-01 13:33:00,31513,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
1528,sea-util-54-rate-31079,2005-06-01 13:33:00,31079,sea-util-54,Bundled,0.126814,0.145127,0.119049,Middle Georgia El Member Corp,Cooperative
790,sea-util-44-rate-30420,2005-06-01 13:33:00,30420,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned

In [6]:
utils_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 10 columns):
sea_rate_id     2000 non-null object
year            2000 non-null object
zip             2000 non-null int64
utility_id      2000 non-null object
service_type    2000 non-null object
comm_rate       2000 non-null float64
ind_rate        2000 non-null float64
res_rate        2000 non-null float64
name            2000 non-null object
ownership       2000 non-null object
dtypes: float64(3), int64(1), object(6)
memory usage: 171.9+ KB

In [7]:
utils_needed = pd.read_csv('utilities_needed.csv', encoding='utf-8')
utils_needed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521 entries, 0 to 1520
Data columns (total 2 columns):
zip        1521 non-null int64
utility    0 non-null float64
dtypes: float64(1), int64(1)
memory usage: 23.8 KB

In [8]:
utils_identified = pd.merge(utils_needed, utils_combined, on = 'zip', how = 'left')

In [9]:
utils_identified.sample(5)

,zip,utility,sea_rate_id,year,utility_id,service_type,comm_rate,ind_rate,res_rate,name,ownership
2178,30143,NaN,sea-util-44-rate-30143,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
594,30257,NaN,sea-util-44-rate-30257,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
2820,31419,NaN,sea-util-5-rate-31419,2005-06-01 13:33:00,sea-util-5,Bundled,0.112581,0.096920,0.125898,Canoochee Electric Member Corp,Cooperative
40,31324,NaN,sea-util-33-rate-31324,2005-06-01 13:33:00,sea-util-33,Bundled,0.113631,0.081518,0.134683,Coastal Electric Member Corp,Cooperative
3523,30030,NaN,sea-util-44-rate-30030,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned

In [10]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3766 entries, 0 to 3765
Data columns (total 11 columns):
zip             3766 non-null int64
utility         0 non-null float64
sea_rate_id     3762 non-null object
year            3762 non-null object
utility_id      3762 non-null object
service_type    3762 non-null object
comm_rate       3762 non-null float64
ind_rate        3762 non-null float64
res_rate        3762 non-null float64
name            3762 non-null object
ownership       3762 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 353.1+ KB

In [11]:
utils_identified['zip'].duplicated().sum()

3356

In [12]:
utils_identified[utils_identified['zip'].duplicated()]

,zip,utility,sea_rate_id,year,utility_id,service_type,comm_rate,ind_rate,res_rate,name,ownership
1,30318,NaN,sea-util-44-rate-30318,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3,30240,NaN,sea-util-23-rate-30240,2005-06-01 13:33:00,sea-util-23,Bundled,0.098476,0.070138,0.111667,City of La Grange - (GA),Municipal
4,30240,NaN,sea-util-39-rate-30240,2005-06-01 13:33:00,sea-util-39,Bundled,0.123496,0.062373,0.120871,Diverse Power Incorporated,Cooperative
5,30240,NaN,sea-util-44-rate-30240,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
7,30064,NaN,sea-util-34-rate-30064,2005-06-01 13:33:00,sea-util-34,Bundled,0.096382,0.070922,0.104942,Cobb Electric Membership Corp,Cooperative
8,30064,NaN,sea-util-44-rate-30064,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
10,31774,NaN,sea-util-44-rate-31774,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
11,31774,NaN,sea-util-50-rate-31774,2005-06-01 13:33:00,sea-util-50,Bundled,0.110333,0.128826,0.132006,Irwin Electric Membership Corp,Cooperative
13,30290,NaN,sea-util-44-rate-30290,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
14,30290,NaN,sea-util-46-rate-30290,2005-06-01 13:33:00,sea-util-46,Bundled,0.107120,0.074771,0.105132,GreyStone Power Corporation,Cooperative
16,30677,NaN,sea-util-51-rate-30677,2005-06-01 13:33:00,sea-util-51,Bundled,0.102445,0.066882,0.101936,Jackson Electric Member Corp - (GA),Cooperative
17,30677,NaN,sea-util-73-rate-30677,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative
20,30094,NaN,sea-util-66-rate-30094,2005-06-01 13:33:00,sea-util-66,Bundled,0.089588,0.061686,0.097074,Snapping Shoals El Member Corp,Cooperative
22,30141,NaN,sea-util-44-rate-30141,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
23,30141,NaN,sea-util-46-rate-30141,2005-06-01 13:33:00,sea-util-46,Bundled,0.107120,0.074771,0.105132,GreyStone Power Corporation,Cooperative
25,30548,NaN,sea-util-51-rate-30548,2005-06-01 13:33:00,sea-util-51,Bundled,0.102445,0.066882,0.101936,Jackson Electric Member Corp - (GA),Cooperative
28,30286,NaN,sea-util-44-rate-30286,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
29,30286,NaN,sea-util-72-rate-30286,2005-06-01 13:33:00,sea-util-72,Bundled,0.122410,0.082733,0.111228,Upson Elec Member Corp,Cooperative
31,30116,NaN,sea-util-44-rate-30116,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
32,30116,NaN,sea-util-46-rate-30116,2005-06-01 13:33:00,sea-util-46,Bundled,0.107120,0.074771,0.105132,GreyStone Power Corporation,Cooperative
33,30305,NaN,sea-util-44-rate-30305,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
36,30075,NaN,sea-util-34-rate-30075,2005-06-01 13:33:00,sea-util-34,Bundled,0.096382,0.070922,0.104942,Cobb Electric Membership Corp,Cooperative
37,30075,NaN,sea-util-44-rate-30075,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
38,30075,NaN,sea-util-64-rate-30075,2005-06-01 13:33:00,sea-util-64,Bundled,0.095710,0.069908,0.098491,Sawnee Electric Membership Corporation,Cooperative
40,31324,NaN,sea-util-33-rate-31324,2005-06-01 13:33:00,sea-util-33,Bundled,0.113631,0.081518,0.134683,Coastal Electric Member Corp,Cooperative
41,31324,NaN,sea-util-44-rate-31324,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
43,30434,NaN,sea-util-52-rate-30434,2005-06-01 13:33:00,sea-util-52,Bundled,0.123904,0.092472,0.124166,Jefferson Electric Member Corp,Cooperative
44,30434,NaN,sea-util-61-rate-30434,2005-06-01 13:33:00,sea-util-61,Bundled,0.102852,0.133274,0.125678,Planters Electric Member Corp,Cooperative
45,30434,NaN,sea-util-74-rate-30434,2005-06-01 13:33:00,sea-util-74,Bundled,0.103509,0.070552,0.118870,Washington Elec Member Corp,Cooperative
47,31082,NaN,sea-util-59-rate-31082,2005-06-01 13:33:00,sea-util-59,Bundled,0.135646,0.068464,0.128368,Oconee Electric Member Corp,Cooperative
...,...,...,...,...,...,...,...,...,...,...,...
3734,30030,NaN,sea-util-44-rate-30030,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3735,30339,NaN,sea-util-44-rate-30339,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3736,30306,NaN,sea-util-44-rate-30306,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3737,30268,NaN,sea-util-36-rate-30268,2005-06-01 13:33:00,sea-util-36,Bundled,0.102295,0.056515,0.102008,Coweta-Fayette El Member Corp,Cooperative
3738,30268,NaN,sea-util-44-rate-30268,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3739,30268,NaN,sea-util-46-rate-30268,2005-06-01 13:33:00,sea-util-46,Bundled,0.107120,0.074771,0.105132,GreyStone Power Corporation,Cooperative
3741,30810,NaN,sea-util-52-rate-30810,2005-06-01 13:33:00,sea-util-52,Bundled,0.123904,0.092472,0.124166,Jefferson Electric Member Corp,Cooperative
3742,30810,NaN,sea-util-74-rate-30810,2005-06-01 13:33:00,sea-util-74,Bundled,0.103509,0.070552,0.118870,Washington Elec Member Corp,Cooperative
3744,30017,NaN,sea-util-44-rate-30017,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3745,30017,NaN,sea-util-51-rate-30017,2005-06-01 13:33:00,sea-util-51,Bundled,0.102445,0.066882,0.101936,Jackson Electric Member Corp - (GA),Cooperative
3746,30017,NaN,sea-util-73-rate-30017,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative
3747,30188,NaN,sea-util-34-rate-30188,2005-06-01 13:33:00,sea-util-34,Bundled,0.096382,0.070922,0.104942,Cobb Electric Membership Corp,Cooperative
3748,30188,NaN,sea-util-44-rate-30188,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3749,30188,NaN,sea-util-64-rate-30188,2005-06-01 13:33:00,sea-util-64,Bundled,0.095710,0.069908,0.098491,Sawnee Electric Membership Corporation,Cooperative
3750,30605,NaN,sea-util-44-rate-30605,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3751,30605,NaN,sea-util-51-rate-30605,2005-06-01 13:33:00,sea-util-51,Bundled,0.102445,0.066882,0.101936,Jackson Electric Member Corp - (GA),Cooperative
3752,30605,NaN,sea-util-62-rate-30605,2005-06-01 13:33:00,sea-util-62,Bundled,0.141970,0.094032,0.138540,Rayle Electric Membership Corp,Cooperative
3753,30605,NaN,sea-util-73-rate-30605,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative
3754,30012,NaN,sea-util-44-rate-30012,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3755,30012,NaN,sea-util-66-rate-30012,2005-06-01 13:33:00,sea-util-66,Bundled,0.089588,0.061686,0.097074,Snapping Shoals El Member Corp,Cooperative
3756,30012,NaN,sea-util-73-rate-30012,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative
3757,30013,NaN,sea-util-44-rate-30013,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3758,30013,NaN,sea-util-66-rate-30013,2005-06-01 13:33:00,sea-util-66,Bundled,0.089588,0.061686,0.097074,Snapping Shoals El Member Corp,Cooperative
3759,30013,NaN,sea-util-73-rate-30013,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative
3760,30012,NaN,sea-util-44-rate-30012,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3761,30012,NaN,sea-util-66-rate-30012,2005-06-01 13:33:00,sea-util-66,Bundled,0.089588,0.061686,0.097074,Snapping Shoals El Member Corp,Cooperative
3762,30012,NaN,sea-util-73-rate-30012,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative
3763,30577,NaN,sea-util-44-rate-30577,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3764,30577,NaN,sea-util-47-rate-30577,2005-06-01 13:33:00,sea-util-47,Bundled,0.117894,0.000000,0.132356,Habersham Electric Membership Corp,Cooperative
3765,30577,NaN,sea-util-48-rate-30577,2005-06-01 13:33:00,sea-util-48,Bundled,0.124334,0.082861,0.126658,Hart Electric Member Corp,Cooperative

In [13]:
utils_identified.drop_duplicates(keep=False,inplace=True)

In [14]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 19 to 3746
Data columns (total 11 columns):
zip             358 non-null int64
utility         0 non-null float64
sea_rate_id     354 non-null object
year            354 non-null object
utility_id      354 non-null object
service_type    354 non-null object
comm_rate       354 non-null float64
ind_rate        354 non-null float64
res_rate        354 non-null float64
name            354 non-null object
ownership       354 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 33.6+ KB

In [15]:
utils_identified.drop(["utility","sea_rate_id","year","utility_id","service_type","comm_rate","ind_rate","res_rate","ownership"], axis = 1, inplace = True)

In [16]:
utils_identified.isnull().sum()

zip     0
name    4
dtype: int64

In [17]:
utils_identified[utils_identified['name'].isnull()]

        zip name
99    32021  NaN
932   31350  NaN
2186  30155  NaN
2683  31504  NaN

In [18]:
utils_identified = utils_identified.dropna()

In [19]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 19 to 3746
Data columns (total 2 columns):
zip     354 non-null int64
name    354 non-null object
dtypes: int64(1), object(1)
memory usage: 8.3+ KB

In [21]:
utils_identified.duplicated().sum()

0

In [22]:
utils_identified['utility'] = utils_identified['name']

In [23]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 19 to 3746
Data columns (total 3 columns):
zip        354 non-null int64
name       354 non-null object
utility    354 non-null object
dtypes: int64(1), object(2)
memory usage: 11.1+ KB

In [24]:
utils_identified.drop(["name"], axis = 1, inplace = True)

In [25]:
utils_identified.to_csv('utils_identified.csv', encoding='utf-8', index=False)