In [1]:
import numpy as np
import pandas as pd
import os

import datetime
from datetime import datetime

# 1 Data Gathering - SolarView

https://github.com/social-energy-atlas/solarview-data

## 1.1 Installations

## 1.6 Solar Suitability

In [2]:
suit = pd.read_csv('data/sea-solar-suitability.csv', encoding='utf-8')
suit.head(5)

     zip        locale     nbld  pct-suitable
0  30002  Suburb Large   1607.0      0.634723
1  30004  Suburb Large  13273.0      0.820359
2  30005  Suburb Large   8411.0      0.841822
3  30008  Suburb Large   5849.0      0.819148
4  30009  Suburb Large   3358.0      0.824698

# 2 Data Assessment
## 2.1 Installations

## 2.6 Solar Suitability

In [3]:
suit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 4 columns):
zip             712 non-null int64
locale          712 non-null object
nbld            702 non-null float64
pct-suitable    712 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 22.3+ KB

In [4]:
suit.head(5)

     zip        locale     nbld  pct-suitable
0  30002  Suburb Large   1607.0      0.634723
1  30004  Suburb Large  13273.0      0.820359
2  30005  Suburb Large   8411.0      0.841822
3  30008  Suburb Large   5849.0      0.819148
4  30009  Suburb Large   3358.0      0.824698

In [5]:
suit.isnull().sum()

zip              0
locale           0
nbld            10
pct-suitable     0
dtype: int64

In [6]:
suit.duplicated().sum()

0

# 3 Data Cleaning

## 3.1 Copy All Dataframes

### 3.1.1 Define
Copy all dataframes for cleaning purposes.

#### 3.1.1.2 Code

In [7]:
suit_clean = suit.copy()

#### 3.1.1.3 Test

In [8]:
suit_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 4 columns):
zip             712 non-null int64
locale          712 non-null object
nbld            702 non-null float64
pct-suitable    712 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 22.3+ KB

## 3.2 Column Naming
### 3.2.1 Installations
#### 3.2.1.1 Define
Rename all columns so that hyphens are replaced with underscores so that future codes can be run successfully, as well as correcting any spelling errors.

#### 3.2.1.2 Code

In [9]:
suit_clean = suit_clean.rename(columns={"pct-suitable": "pct_suitable"})

#### 3.2.1.3 Test

In [10]:
suit_clean.head()

     zip        locale     nbld  pct_suitable
0  30002  Suburb Large   1607.0      0.634723
1  30004  Suburb Large  13273.0      0.820359
2  30005  Suburb Large   8411.0      0.841822
3  30008  Suburb Large   5849.0      0.819148
4  30009  Suburb Large   3358.0      0.824698

### 3.2.2 NaN
#### 3.2.2.1 Define
Rename all columns so that hyphens are replaced with underscores so that future codes can be run successfully.

#### 3.2.2.2 Code

In [11]:
suit_clean = suit_clean.dropna()

In [12]:
suit_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 702 entries, 0 to 711
Data columns (total 4 columns):
zip             702 non-null int64
locale          702 non-null object
nbld            702 non-null float64
pct_suitable    702 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 27.4+ KB

## Store Data

In [13]:
suit_clean.to_csv('clean_data/suit_clean.csv', encoding='utf-8', index=False)