# Utility Query

In [1]:
import numpy as np
import pandas as pd
import os

import datetime
from datetime import datetime

In [2]:
util_rates = pd.read_csv('clean_data/util_rates_clean.csv', encoding='utf-8')
util_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
sea_rate_id     2000 non-null object
year            2000 non-null object
zip             2000 non-null int64
utility_id      2000 non-null object
service_type    2000 non-null object
comm_rate       2000 non-null float64
ind_rate        2000 non-null float64
res_rate        2000 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 125.1+ KB

In [3]:
utils = pd.read_csv('clean_data/util_clean.csv', encoding='utf-8')
utils.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
utility_id    74 non-null object
name          74 non-null object
ownership     74 non-null object
dtypes: object(3)
memory usage: 1.9+ KB

In [4]:
utils_combined = pd.merge(util_rates, utils, on = 'utility_id', how = 'left')

In [5]:
utils_combined.sample(5)

,sea_rate_id,year,zip,utility_id,service_type,comm_rate,ind_rate,res_rate,name,ownership
734,sea-util-44-rate-30258,2005-06-01 13:33:00,30258,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
1076,sea-util-44-rate-30806,2005-06-01 13:33:00,30806,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
943,sea-util-44-rate-30236,2005-06-01 13:33:00,30236,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
228,sea-util-27-rate-31788,2005-06-01 13:33:00,31788,sea-util-27,Bundled,0.123395,0.101833,0.129987,City of Moultrie - (GA),Municipal
244,sea-util-33-rate-31309,2005-06-01 13:33:00,31309,sea-util-33,Bundled,0.113631,0.081518,0.134683,Coastal Electric Member Corp,Cooperative

In [6]:
utils_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 10 columns):
sea_rate_id     2000 non-null object
year            2000 non-null object
zip             2000 non-null int64
utility_id      2000 non-null object
service_type    2000 non-null object
comm_rate       2000 non-null float64
ind_rate        2000 non-null float64
res_rate        2000 non-null float64
name            2000 non-null object
ownership       2000 non-null object
dtypes: float64(3), int64(1), object(6)
memory usage: 171.9+ KB

In [7]:
utils_needed = pd.read_csv('utilities_needed.csv', encoding='utf-8')
utils_needed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1515 entries, 0 to 1514
Data columns (total 2 columns):
zip        1515 non-null int64
utility    0 non-null float64
dtypes: float64(1), int64(1)
memory usage: 23.8 KB

In [8]:
utils_identified = pd.merge(utils_needed, utils_combined, on = 'zip', how = 'left')

In [9]:
utils_identified.sample(5)

,zip,utility,sea_rate_id,year,utility_id,service_type,comm_rate,ind_rate,res_rate,name,ownership
883,30738,NaN,sea-util-15-rate-30738,2005-06-01 13:33:00,sea-util-15,Bundled,0.113592,0.093736,0.103958,City of Chattanooga - (TN),Municipal
3327,30286,NaN,sea-util-30-rate-30286,2005-06-01 13:33:00,sea-util-30,Bundled,0.118000,0.076559,0.113870,City of Thomaston - (GA),Municipal
182,31061,NaN,sea-util-70-rate-31061,2005-06-01 13:33:00,sea-util-70,Bundled,0.110077,0.056867,0.111876,Tri-County Elec Member Corp,Cooperative
2033,30022,NaN,sea-util-64-rate-30022,2005-06-01 13:33:00,sea-util-64,Bundled,0.095710,0.069908,0.098491,Sawnee Electric Membership Corporation,Cooperative
1564,30566,NaN,sea-util-51-rate-30566,2005-06-01 13:33:00,sea-util-51,Bundled,0.102445,0.066882,0.101936,Jackson Electric Member Corp - (GA),Cooperative

In [10]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3747 entries, 0 to 3746
Data columns (total 11 columns):
zip             3747 non-null int64
utility         0 non-null float64
sea_rate_id     3743 non-null object
year            3743 non-null object
utility_id      3743 non-null object
service_type    3743 non-null object
comm_rate       3743 non-null float64
ind_rate        3743 non-null float64
res_rate        3743 non-null float64
name            3743 non-null object
ownership       3743 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 351.3+ KB

In [11]:
utils_identified['zip'].duplicated().sum()

3337

In [12]:
utils_identified[utils_identified['zip'].duplicated()]

,zip,utility,sea_rate_id,year,utility_id,service_type,comm_rate,ind_rate,res_rate,name,ownership
1,30318,NaN,sea-util-44-rate-30318,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3,30240,NaN,sea-util-23-rate-30240,2005-06-01 13:33:00,sea-util-23,Bundled,0.098476,0.070138,0.111667,City of La Grange - (GA),Municipal
4,30240,NaN,sea-util-39-rate-30240,2005-06-01 13:33:00,sea-util-39,Bundled,0.123496,0.062373,0.120871,Diverse Power Incorporated,Cooperative
5,30240,NaN,sea-util-44-rate-30240,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
7,30064,NaN,sea-util-34-rate-30064,2005-06-01 13:33:00,sea-util-34,Bundled,0.096382,0.070922,0.104942,Cobb Electric Membership Corp,Cooperative
...,...,...,...,...,...,...,...,...,...,...,...
3741,30810,NaN,sea-util-52-rate-30810,2005-06-01 13:33:00,sea-util-52,Bundled,0.123904,0.092472,0.124166,Jefferson Electric Member Corp,Cooperative
3742,30810,NaN,sea-util-74-rate-30810,2005-06-01 13:33:00,sea-util-74,Bundled,0.103509,0.070552,0.118870,Washington Elec Member Corp,Cooperative
3744,30017,NaN,sea-util-44-rate-30017,2005-06-01 13:33:00,sea-util-44,Bundled,0.095572,0.054794,0.121499,Georgia Power Co,Investor Owned
3745,30017,NaN,sea-util-51-rate-30017,2005-06-01 13:33:00,sea-util-51,Bundled,0.102445,0.066882,0.101936,Jackson Electric Member Corp - (GA),Cooperative
3746,30017,NaN,sea-util-73-rate-30017,2005-06-01 13:33:00,sea-util-73,Bundled,0.105698,0.072268,0.105168,Walton Electric Member Corp,Cooperative

In [13]:
utils_identified.drop_duplicates(keep=False,inplace=True)

In [14]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 19 to 3746
Data columns (total 11 columns):
zip             364 non-null int64
utility         0 non-null float64
sea_rate_id     360 non-null object
year            360 non-null object
utility_id      360 non-null object
service_type    360 non-null object
comm_rate       360 non-null float64
ind_rate        360 non-null float64
res_rate        360 non-null float64
name            360 non-null object
ownership       360 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 34.1+ KB

In [15]:
utils_identified.drop(["utility","sea_rate_id","year","utility_id","service_type","comm_rate","ind_rate","res_rate","ownership"], axis = 1, inplace = True)

In [16]:
utils_identified.isnull().sum()

zip     0
name    4
dtype: int64

In [17]:
utils_identified[utils_identified['name'].isnull()]

        zip name
99    32021  NaN
932   31350  NaN
2186  30155  NaN
2683  31504  NaN

In [18]:
utils_identified = utils_identified.dropna()

In [19]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 19 to 3746
Data columns (total 2 columns):
zip     360 non-null int64
name    360 non-null object
dtypes: int64(1), object(1)
memory usage: 8.4+ KB

In [20]:
utils_identified.duplicated().sum()

0

In [21]:
utils_identified['utility'] = utils_identified['name']

In [22]:
utils_identified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 19 to 3746
Data columns (total 3 columns):
zip        360 non-null int64
name       360 non-null object
utility    360 non-null object
dtypes: int64(1), object(2)
memory usage: 11.2+ KB

In [23]:
utils_identified.drop(["name"], axis = 1, inplace = True)

In [24]:
utils_identified.to_csv('utils_identified.csv', encoding='utf-8', index=False)