In [1]:
import requests
import numpy as np
import pandas as pd
import os

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import cm as cm

import seaborn as sns 
import datetime
from datetime import datetime

# 1 Data Gathering - SolarView

https://github.com/social-energy-atlas/solarview-data

## 1.1 Installations

In [2]:
installs = pd.read_csv('data/sea-solar-installations.csv', encoding='utf-8')
installs.head(5)

,sea-install-id,oiriginal-db,zip,fips,town,state,system-type,sector,install-date,utility,federal-cong-dist,state-senate-dist,state-house-dist,lat,long
0,southface_S53,Southface,31408.0,13051,Garden City,Georgia,Solar Hot Water,Residential,2008-01-01,Georgia Power Company,1.0,2.0,162.0,32.119290,-81.151748
1,southface_S55,Southface,30601.0,13059,Athens,Georgia,Solar Hot Water,Residential,2008-01-01,Georgia Power Company,10.0,46.0,118.0,33.976445,-83.368683
2,southface_S59,Southface,30030.0,13089,Decatur,Georgia,Solar Hot Water,Residential,2008-01-01,Georgia Power Company,5.0,42.0,83.0,33.767515,-84.308954
3,southface_S52,Southface,30005.0,13121,Alpharetta,Georgia,Solar Hot Water,Residential,2008-01-01,Sawnee EMC,6.0,48.0,25.0,34.070288,-84.202196
4,southface_S49,Southface,30281.0,13151,Stockbridge,Georgia,Solar Hot Water,Residential,2008-01-01,Georgia Power Company,13.0,10.0,111.0,33.501071,-84.257491

In [3]:
installs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2147 entries, 0 to 2146
Data columns (total 15 columns):
sea-install-id       2147 non-null object
oiriginal-db         2147 non-null object
zip                  2146 non-null float64
fips                 2147 non-null int64
town                 2107 non-null object
state                2147 non-null object
system-type          2147 non-null object
sector               2147 non-null object
install-date         2147 non-null object
utility              603 non-null object
federal-cong-dist    767 non-null float64
state-senate-dist    767 non-null float64
state-house-dist     767 non-null float64
lat                  2125 non-null float64
long                 2125 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 251.7+ KB

## 1.2 County-level Census Data

In [4]:
census = pd.read_csv('data/sea-county-census.csv', encoding='utf-8')
census.head(5)

,fips,med-income,owner-occ,pop-tot,dem-fem-pct,dem-male-pct,dem-white-pct,dem-baa-pct,dem-aian-pct,dem-a-pct,dem-nhpi-pct,dem-two-pct,dem-hl-pct,dem-vet,dem-hh
0,13001,"$37,135.00",71.10%,18428,50.10%,49.90%,69.50%,19.40%,0.60%,0.90%,0.20%,1.20%,9.60%,1053,8381
1,13003,"$30,933.00",72.00%,8273,49.90%,50.10%,56.20%,17.50%,1.40%,0.90%,1.10%,2.10%,25.20%,385,3429
2,13005,"$37,162.00",68.60%,11372,50.70%,49.30%,73.10%,16.60%,0.30%,0.60%,0.20%,1.60%,8.70%,559,4715
3,13007,"$44,297.00",73.60%,3150,51.40%,48.60%,47.00%,45.90%,0.40%,1.10%,0.10%,1.10%,5.60%,178,1620
4,13009,"$32,460.00",53.80%,45144,49.40%,50.60%,52.60%,42.40%,0.30%,1.80%,0.10%,1.20%,2.20%,2911,20277

## 1.3 County Name-Fips Map

In [5]:
fips = pd.read_csv('data/sea-county-name.csv', encoding='utf-8')
fips.head(5)

    fips    county
0  13001   Appling
1  13003  Atkinson
2  13005     Bacon
3  13007     Baker
4  13009   Baldwin

## 1.4 Zillow Valuation Information

In [6]:
zillow = pd.read_csv('data/sea-county-zillow.csv', encoding='utf-8')
zillow.head(5)

    fips med-zhvi med-zrvi
0  13001      NaN      NaN
1  13003      NaN      NaN
2  13005      NaN      NaN
3  13007      NaN      NaN
4  13009  $66.08    $0.62

## 1.5 DSIRE Incentive Counts

In [7]:
dsire = pd.read_csv('data/sea-dsire-incentives.csv', encoding='utf-8')
dsire.head(5)

,fips,fed-total,fed-fin-incent-total,fed-fin-incent-corp-deprec,fed-fin-incent-corp-tax-credit,fed-fin-incent-corp-tax-deduction,fed-fin-incent-corp-tax-exemption,fed-fin-incent-grant-prog,fed-fin-incent-loan-prog,fed-fin-incent-pers-tax-credit,...,state-reg-policy,state-reg-policy-build-energy-code,state-reg-policy-energy-stand-build,state-reg-policy-interconn,state-reg-policy-net-metering,state-reg-policy-solar-wind-access,state-tech-res,state-tech-res-energy-analysis,state-tech-res-other,state-tech-res-training-info
0,13001,41,24,1,2,1,2,7,8,2,...,4,1,NaN,1,1,1,5,4,0,1
1,13003,41,24,1,2,1,2,7,8,2,...,4,1,NaN,1,1,1,5,4,0,1
2,13005,41,24,1,2,1,2,7,8,2,...,4,1,NaN,1,1,1,5,4,0,1
3,13007,41,24,1,2,1,2,7,8,2,...,4,1,NaN,1,1,1,5,4,0,1
4,13009,41,24,1,2,1,2,7,8,2,...,4,1,NaN,1,1,1,5,4,0,1

## 1.6 Solar Suitability

In [8]:
suit = pd.read_csv('data/sea-solar-suitability.csv', encoding='utf-8')
suit.head(5)

     zip        locale     nbld  pct-suitable
0  30002  Suburb Large   1607.0      0.634723
1  30004  Suburb Large  13273.0      0.820359
2  30005  Suburb Large   8411.0      0.841822
3  30008  Suburb Large   5849.0      0.819148
4  30009  Suburb Large   3358.0      0.824698

## 1.7 Utility List and Ownership Type

In [9]:
util = pd.read_csv('data/sea-utility-id.csv', encoding='utf-8')
util.head(5)

   utility-id                            name    ownership
0  sea-util-1   Albany Water Gas & Light Comm    Municipal
1  sea-util-2   Altamaha Electric Member Corp  Cooperative
2  sea-util-3  Amicalola Electric Member Corp  Cooperative
3  sea-util-4  Blue Ridge Mountain EMC - (GA)  Cooperative
4  sea-util-5  Canoochee Electric Member Corp  Cooperative

## 1.8 Utility Rates

In [10]:
util_rates = pd.read_csv('data/sea-utility-rates.csv', encoding='utf-8')
util_rates.head(5)

,sea-rate-id,year,zip,utility-id,service-type,comm-rate,ind-rate,res-rate
0,sea-util-1-rate-31702,2015,31702,sea-util-1,Bundled,0.105766,0.0,0.108669
1,sea-util-1-rate-31703,2015,31703,sea-util-1,Bundled,0.105766,0.0,0.108669
2,sea-util-1-rate-31706,2015,31706,sea-util-1,Bundled,0.105766,0.0,0.108669
3,sea-util-1-rate-31705,2015,31705,sea-util-1,Bundled,0.105766,0.0,0.108669
4,sea-util-1-rate-31701,2015,31701,sea-util-1,Bundled,0.105766,0.0,0.108669

## 1.9 Zipcode Table

In [11]:
zipcode = pd.read_csv('data/sea-zipcode-county.csv', encoding='utf-8')
zipcode.head(5)

   sea-zip-id    zip   fips  year
0  zip-2018-1  31557  13001  2018
1  zip-2018-2  31513  13001  2018
2  zip-2018-3  31518  13001  2018
3  zip-2018-4  31539  13001  2018
4  zip-2018-5  31560  13001  2018

# 2 Data Assessment
## 2.1 Installations

In [12]:
installs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2147 entries, 0 to 2146
Data columns (total 15 columns):
sea-install-id       2147 non-null object
oiriginal-db         2147 non-null object
zip                  2146 non-null float64
fips                 2147 non-null int64
town                 2107 non-null object
state                2147 non-null object
system-type          2147 non-null object
sector               2147 non-null object
install-date         2147 non-null object
utility              603 non-null object
federal-cong-dist    767 non-null float64
state-senate-dist    767 non-null float64
state-house-dist     767 non-null float64
lat                  2125 non-null float64
long                 2125 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 251.7+ KB

- install-date is not in datetime format
- fips is not a string
- error in spelling of original database column

In [13]:
installs.sample(5)

,sea-install-id,oiriginal-db,zip,fips,town,state,system-type,sector,install-date,utility,federal-cong-dist,state-senate-dist,state-house-dist,lat,long
1904,southface_AES061,Southface,30606.0,13059,Athens,Georgia,Solar Electric,Residential,2016-08-30,NaN,NaN,NaN,NaN,33.926032,-83.421936
1483,southface_SF124,Southface,31409.0,13051,NaN,Georgia,Solar Electric,Non-Residential,2014-03-25,NaN,NaN,NaN,NaN,32.028773,-81.126069
1673,southface_AES006,Southface,30329.0,13089,Atlanta,Georgia,Solar Electric,Residential,2015-06-08,NaN,NaN,NaN,NaN,33.812353,-84.334551
1011,southface_M415,Southface,30153.0,13233,Rockmart,Georgia,Solar Electric,Residential,2011-12-17,NaN,NaN,NaN,NaN,33.999967,-85.057720
277,southface_S198,Southface,30349.0,13121,Atlanta,Georgia,Solar Hot Water,Residential,2009-09-12,Unknown,13.0,39.0,64.0,33.629506,-84.522003

In [14]:
installs.shape

(2147, 15)

In [15]:
installs.isnull().sum()

sea-install-id          0
oiriginal-db            0
zip                     1
fips                    0
town                   40
state                   0
system-type             0
sector                  0
install-date            0
utility              1544
federal-cong-dist    1380
state-senate-dist    1380
state-house-dist     1380
lat                    22
long                   22
dtype: int64

In [16]:
installs.duplicated().sum()

1

- NaN present in zip, town, lat, utility, federal-cong-dist, state-senate-dist, state-house-dist, lat, and long.
- Can't check for duplicated id because of column name.
- zip is an integer and not a string

## 2.2 County-level Census Data

In [17]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 15 columns):
fips             159 non-null int64
med-income       159 non-null object
owner-occ        159 non-null object
pop-tot          159 non-null object
dem-fem-pct      159 non-null object
dem-male-pct     159 non-null object
dem-white-pct    159 non-null object
dem-baa-pct      159 non-null object
dem-aian-pct     159 non-null object
dem-a-pct        159 non-null object
dem-nhpi-pct     159 non-null object
dem-two-pct      159 non-null object
dem-hl-pct       159 non-null object
dem-vet          159 non-null object
dem-hh           159 non-null object
dtypes: int64(1), object(14)
memory usage: 18.7+ KB

- owner-occ,, dem-vet, and all pct columns are objects/strings and not floats
- median income, pop-tot, dem-hh, and dem-vet are objects/strings and not integers.

In [18]:
census.sample(5)

,fips,med-income,owner-occ,pop-tot,dem-fem-pct,dem-male-pct,dem-white-pct,dem-baa-pct,dem-aian-pct,dem-a-pct,dem-nhpi-pct,dem-two-pct,dem-hl-pct,dem-vet,dem-hh
60,13123,"$43,775.00",75.20%,"29,733",50.60%,49.40%,88.60%,9.20%,0.50%,0.10%,0,1.50%,1.50%,165,"1,497"
96,13189,"$37,021.00",61.60%,"21,490",51.00%,49.00%,61.80%,34.10%,0.60%,0.40%,0.10%,1.50%,2.10%,"1,480","5,207"
119,13243,"$30,358.00",57.60%,"7,177",51.60%,48.40%,35.20%,56.50%,0.40%,1.80%,0.20%,2.60%,4.90%,"20,497","72,470"
130,13265,"$28,152.00",69.00%,"1,593",42.50%,57.50%,58.40%,29.50%,0.70%,0.60%,0.20%,1.10%,11.10%,"1,892","7,899"
85,13173,"$31,682.00",63.50%,"10,399",52.70%,47.30%,58.70%,36.50%,0.30%,1.10%,0,1.20%,2.70%,"3,427","17,622"

In [ ]:
census.isnull().sum()

In [ ]:
census.duplicated().sum()

## 2.3 County Name-FIPS Map

In [ ]:
fips.info()

- fips should be a string and not an integer

In [ ]:
fips.head(5)

In [ ]:
fips.isnull().sum()

In [ ]:
fips.duplicated().sum()

## 2.4 Zillow Valuation Information

In [ ]:
zillow.info()

In [ ]:
zillow.head(5)

- med-zhvi and med-zrvi should both be floats
- Multiple NaN values exist for med-zhvi and med-zrvi

In [ ]:
zillow.isnull().sum()

In [ ]:
zillow.duplicated().sum()

## 2.5 DSIRE Incentive Counts

In [ ]:
dsire.info()

- Naming issues in columns must be taken care of (- should be replaced with _)
- After naming, investigate float for state-reg-policy-energy-stand-build
- fips should be string and not integer
- state-reg-policy-energy-stand-build looks to be an incomplete column for most observations.

In [ ]:
dsire.head(5)

## 2.6 Solar Suitability

In [ ]:
suit.info()

In [ ]:
suit.head(5)

In [ ]:
suit.isnull().sum()

In [ ]:
suit.duplicated().sum()

## 2.7 Utility List and Ownership Type

In [ ]:
util.info()

In [ ]:
util.head(5)

In [ ]:
util.isnull().sum()

In [ ]:
util.duplicated().sum()

- Need to modify utility-id column heading

## 2.8 Utility Rates

In [ ]:
util_rates.info()

In [ ]:
util_rates.head(5)

In [ ]:
util_rates.isnull().sum()

In [ ]:
util.duplicated().sum()

- zip is integer and not string
- Need to modify column name for sea-rate-id, utlity-id, service-type, comm-rate, ind-rate, and res-rate

## 2.9 Zipcode Table

In [ ]:
zipcode.info()

In [ ]:
zipcode.head(5)

In [ ]:
zipcode.isnull().sum()

In [ ]:
zipcode.duplicated().sum()

- zip and fips are integers and not strings
- sea-zip-id needs to be renamed

# 3 Data Cleaning

## 3.1 Copy All Dataframes

### 3.1.1 Define
Copy all dataframes for cleaning purposes.

#### 3.1.1.2 Code

In [ ]:
installs_clean = installs.copy()
census_clean = census.copy()
fips_clean = fips.copy()
zillow_clean = zillow.copy()
dsire_clean = dsire.copy()
suit_clean = suit.copy()
util_clean = util.copy()
util_rates_clean = util_rates.copy()
zipcode_clean = zipcode.copy()

#### 3.1.1.3 Test

In [ ]:
installs_clean.info()

In [ ]:
census_clean.info()

In [ ]:
fips_clean.info()

In [ ]:
zillow_clean.info()

In [ ]:
dsire_clean.info()

In [ ]:
suit_clean.info()

In [ ]:
util_clean.info()

In [ ]:
util_rates_clean.info()

In [ ]:
zipcode_clean.info()

## 3.2 Column Naming
### 3.2.1 Installations
#### 3.2.1.1 Define
Rename all columns so that hyphens are replaced with underscores so that future codes can be run successfully, as well as correcting any spelling errors.

#### 3.2.1.2 Code

In [ ]:
installs_clean = installs_clean.rename(columns={"sea-install-id": "sea_install_id", 
                                                "oiriginal-db": "original_db", 
                                                "system-type": "system_type", 
                                                "install-date": "install_date", 
                                                "federal-cong-dist": "fed_congressional_district", 
                                                "state-senate-dist": "state_senate_district", 
                                                "state-house-dist": "state_house_district"})

#### 3.2.1.3 Test

In [ ]:
installs_clean.head()

### 3.2.2 Census
#### 3.2.2.1 Define
Rename all columns so that hyphens are replaced with underscores so that future codes can be run successfully.

#### 3.2.2.2 Code

In [ ]:
census_clean.info()

In [ ]:
census_clean = census_clean.rename(columns={"med-income": "med_income",
                                            "owner-occ": "owner_occ", 
                                            "pop-tot": "pop_tot", 
                                            "dem-fem-pct": "dem_fem_pct", 
                                            "dem-male-pct": "dem_male_pct", 
                                            "dem-white-pct": "dem_white_pct",
                                            "dem-baa-pct": "dem_baa_pct",
                                            "dem-aian-pct": "dem_aian_pct",
                                            "dem-a-pct": "dem_a_pct",
                                            "dem-nhpi-pct": "dem_nhpi_pct",
                                            "dem-two-pct": "dem_two_pct",
                                            "dem-hl-pct": "dem_hl_pct",
                                            "dem-vet": "dem_vet",
                                            "dem-hh": "dem_hh"
                                           })

#### 3.2.2.3 Test

In [ ]:
census_clean.head()

### 3.2.2 Convert install_date to datetime format
#### 3.2.2.1 Define
The install_date column should be in datetime format. Drop any unknown dates and convert those values to datetime.

#### 3.2.2.2 Code

In [ ]:
installs_clean.info()

In [ ]:
installs_clean['install_date'] = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

#### 3.2.2.3 Test

In [ ]:
installs_clean.info()

### 3.2.3 Convert fips, zip, and congressional district columns to strings
#### 3.2.3.1 Define
Convert the fips, zip, fed_congressional_district, state_senate_district, and state_house_district columns to string format all columns.

#### 3.2.3.2 Code

In [ ]:
print(installs_clean[installs_clean['zip'].isnull()])

In [ ]:
installs_clean.drop([1833], inplace=True)
installs_clean['zip'] = installs_clean['zip'].round(0).astype(int)

#### 3.2.3.3 Test

In [ ]:
installs_clean.info()

In [ ]:
installs_clean.head(5)

### 3.2.4 Investigate town NaN values
#### 3.2.4.1 Define
Query the dataset and investigate NaN values for the town column to see if data can be retrieved to complete. Otherwise, remove observations from the dataset.

#### 3.2.4.2 Code

In [ ]:
installs_clean[installs_clean['town'].isnull()]

In [ ]:
print(installs_clean['zip'][36])
print(installs_clean['zip'][43])
print(installs_clean['zip'][684])
print(installs_clean['zip'][885])
print(installs_clean['zip'][1349])

In [ ]:
installs_clean.town[36] = 'Atlanta'
installs_clean.town[43] = 'Atlanta'
installs_clean.town[684] = 'Woodstock'
installs_clean.town[885] = 'Columbus'
installs_clean.town[1349] = 'Oxford'

In [ ]:
print(installs_clean['zip'][1353])
print(installs_clean['zip'][1370])
print(installs_clean['zip'][1382])
print(installs_clean['zip'][1415])
print(installs_clean['zip'][1451])

In [ ]:
installs_clean.town[1382] = 'Savannah'
installs_clean.town[1451] = 'Peachtree City'
installs_clean.town[1353] = 'Cumming'
installs_clean.town[1370] = 'Jasper'
installs_clean.town[1415] = 'Davisboro'

In [ ]:
print(installs_clean['zip'][1472])
print(installs_clean['zip'][1473])
print(installs_clean['zip'][1483])
print(installs_clean['zip'][1490])
print(installs_clean['zip'][1493])

In [ ]:
installs_clean.town[1472] = 'Metter'
installs_clean.town[1473] = 'Butler'
installs_clean.town[1483] = 'Savannah'
installs_clean.town[1490] = 'Hogansville'
installs_clean.town[1493] = 'Madison'

In [ ]:
print(installs_clean['zip'][1497])
print(installs_clean['zip'][1506])
print(installs_clean['zip'][1507])
print(installs_clean['zip'][1508])
print(installs_clean['zip'][1509])

In [ ]:
installs_clean.town[1497] = 'Lawrenceville'
installs_clean.town[1506] = 'Newborn'
installs_clean.town[1507] = 'Cartersville'
installs_clean.town[1508] = 'Greenville'
installs_clean.town[1509] = 'Dahlonega'

In [ ]:
print(installs_clean['zip'][1517])
print(installs_clean['zip'][1518])
print(installs_clean['zip'][1529])
print(installs_clean['zip'][1551])
print(installs_clean['zip'][1552])

In [ ]:
installs_clean.town[1517] = 'Augusta'
installs_clean.town[1518] = 'Lavonia'
installs_clean.town[1529] = 'Buckhead'
installs_clean.town[1551] = 'Decatur'
installs_clean.town[1552] = 'Claxton'

In [ ]:
print(installs_clean['zip'][1558])
print(installs_clean['zip'][1561])
print(installs_clean['zip'][1562])
print(installs_clean['zip'][1565])
print(installs_clean['zip'][1577])

In [ ]:
installs_clean.town[1558] = 'Decatur'
installs_clean.town[1561] = 'Decatur'
installs_clean.town[1562] = 'Brunswick'
installs_clean.town[1565] = 'Jefferson'
installs_clean.town[1577] = 'Cave Spring'

In [ ]:
print(installs_clean['zip'][1581])
print(installs_clean['zip'][1583])
print(installs_clean['zip'][1584])
print(installs_clean['zip'][1585])
print(installs_clean['zip'][1587])

In [ ]:
installs_clean.town[1581] = 'Augusta'
installs_clean.town[1583] = 'Donalsonville'
installs_clean.town[1584] = 'Acorn Pond'
installs_clean.town[1585] = 'Chester'
installs_clean.town[1587] = 'Decatur'

In [ ]:
print(installs_clean['zip'][1606])
print(installs_clean['zip'][1607])
print(installs_clean['zip'][1611])
print(installs_clean['zip'][1991])

In [ ]:
installs_clean.town[1606] = 'Unadilla'
installs_clean.town[1607] = 'Rome'
installs_clean.town[1611] = 'Sandy Springs'
installs_clean.town[1991] = 'Butler'

#### 3.2.4.3 Test

In [ ]:
print(installs_clean[installs_clean['town'].isnull()])

### 3.2.5 Remove all observations with no latitude or longitude
#### 3.2.5.1 Define
Query the dataset and remove all NaN lat/long observations.

#### 3.2.5.2 Code

In [ ]:
installs_clean[installs_clean['lat'].isnull()]

In [ ]:
installs_clean[installs_clean['lat'].isnull()].shape

In [ ]:
installs_clean.drop([29,31,90,217,284,290,339,341,358,388,409,455,549,577,583,762,763,1001,1007,1260,1337,1644], inplace=True)

#### 3.2.5.2 Test

In [ ]:
installs_clean[installs_clean['lat'].isnull()]

In [ ]:
installs_clean[installs_clean['utility'].isnull()]

In [ ]:
util_rates_clean.info()

In [ ]:
util_rates_clean['zip'] = util_rates_clean['zip'].round(0).astype(int)

In [ ]:
util_rates_clean['zip'] = util_rates_clean['zip'].astype(str)

In [ ]:
util_rates_clean.utility_id[util_rates_clean.zip =='30318']

## 3.2 Installations

Installations

- install-date is not in datetime format
- fips is not a string
- zip is an integer and not a string
- congressional districts (federal and state) are not strings
- NaN present in zip, town, lat, utility, federal-cong-dist, state-senate-dist, state-house-dist, lat, and long.
- Can't check for duplicated id because of column name.


### 3.2.1 Rename Columns
#### 3.2.1.1 Define